# Ignoriere Node.js Abhängigkeiten
node_modules/

# Ignoriere Umgebungsvariablen-Datei
.env

# Ignoriere Log-Dateien
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignoriere Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db 

# Ignoriere lokale Dateien, die nicht im Repository sein sollen
HäufigeFehler.md 